<div class="row">
  <div class="col-xs-6">
    <form class="form">
      <div class="form-group">
        <input class="form-control" ng-model="targetDate" datepicker-popup="yyyy/MM/dd" show-button-bar="false"/>
      </div>
    </form>
  </div>
  <div class="col-xs-6">
    <button class="btn btn-default pull-right">Reset</button>
  </div>
</div>
<ul class="nav nav-tabs nav-justified">
  <li ui-sref-active="active">
    <a ui-sref="main.si">SI</a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="main.hsi">HSI({{SIs.length}})</a>
  </li>
</ul>
<div ui-view></div>
