<tabset justified="true">
  <tab heading="SI" select="drawSIViews()">
    <div class="row">
      <div class="col-xs-4">
        <label>SI Map</label>
        <div id="si-map"></div>
        <label>Variable Distribution</label>
        <div id="variable-map"></div>
      </div>
      <div class="col-xs-4">
        <div id="correlation-graph"></div>
        <div id="scatter-plot-graph"></div>
      </div>
      <div class="col-xs-4">
        <form class="form">
            <div class="form-group">
              <label>Variables</label>
              <select class="form-control">
                <option>{{'S' | variableName}}</option>
                <option>{{'T' | variableName}}</option>
                <option>{{'HM' | variableName}}</option>
                <option>{{'U' | variableName}}</option>
                <option>{{'V' | variableName}}</option>
                <option>{{'W' | variableName}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Depth</label>
              <div>
                <button class="btn btn-default col-xs-3" ng-click="decrementDepth()">
                  <span class="glyphicon glyphicon-arrow-left"></span>
                </button>
                <span class="col-xs-6 text-center">{{currentSI.depthIndex}}</span>
                <button class="btn btn-default col-xs-3" ng-click="incrementDepth()">
                  <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
              </div>
              <input type="range" ng-model="currentSI.depthIndex" min="{{depthMin}}" max="{{depthMax}}" required/>
            </div>
            <div class="form-group">
              <label>Smoothing Parameter</label>
              <div>
                <button class="btn btn-default col-xs-3" ng-click="decrementLambda()">
                  <span class="glyphicon glyphicon-arrow-left"></span>
                </button>
                <span class="col-xs-6 text-center">{{currentSI.lambda}}</span>
                <button class="btn btn-default col-xs-3" ng-click="incrementLambda()">
                  <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
              </div>
              <input type="range" ng-model="currentSI.lambda" min="0.001" max="1" step="0.001" required/>
            </div>
            <div class="row" style="margin-top: 10px;">
              <div class="col-xs-6 col-xs-offset-3">
                <button class="btn btn-default btn-lg btn-block" ng-click="saveSI()">Save SI</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </tab>
  <tab heading="HSI" disabled="SIs.length == 0">
    <div class="row">
      <div class="col-xs-4">
        <table class="table table-bordered" style="margin-bottom: 0;">
          <tr>
            <th class="col-xs-2">Use</th>
            <th class="col-xs-7">Variable - Depth - Smoothing Parameter</th>
            <th class="col-xs-3">Action</th>
          </tr>
          <tr ng-repeat="SI in SIs" style="height: 70px;">
            <td><input type="checkbox" ng-model="SI.active"/></td>
            <td>{{SI.variable | variableName}} - {{SI.depth}} - {{SI.lambda}}</td>
            <td>
              <button class="btn btn-default btn-xs btn-block" ng-click="loadSI(SI)">Load</button>
              <button class="btn btn-default btn-xs btn-block" ng-click="removeSI($index)">Remove</button>
            </td>
          </tr>
          <tr style="height: 70px;" ng-repeat="dummy in SIPaddings">
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </tab>
</tabset>
