<div class="modal-header">
</div>
<div class="modal-body">
  <div ng-controller="SettingController as settings">
    <form class="form">
      <div class="form-group">
        <label>Prediction Target</label>
        <input class="form-control" ui-date ng-model="settings.settings.selectedDate"/>
      </div>
      <div class="form-group">
        <label>CPUE From</label>
        <input class="form-control" ui-date ng-model="settings.settings.cpueDateFrom"/>
      </div>
      <div class="form-group">
        <label>CPUE To</label>
        <input class="form-control" ui-date ng-model="settings.settings.cpueDateTo"/>
      </div>
      <!--
      <div class="form-group">
        <label>CPUE File</label>
        <input type="file" id="fileInput"/>
        <div>
          <button class="btn btn-default" ng-click="settings.loadFile()">Load</button>
        </div>
      </div>
      <div class="form-group">
        <label>OPeNDAP Endpoint URL</label>
        <input class="form-control" ng-model="settings.settings.opendapEndpoint"/>
      </div>
      <div class="form-group">
        <label>Latitude From</label>
        <div>
          <label class="radio-inline"><input class="radio" type="radio" ng-model="settings.settings.latFromDirection" value="N"/>N</label>
          <label class="radio-inline"><input class="radio" type="radio" ng-model="settings.settings.latFromDirection" value="S"/>S</label>
        </div>
        <input class="form-control" type="number" min="0" max="90" ng-model="settings.settings.latFrom"/>
      </div>
      <div class="form-group">
        <label>Latitude To</label>
        <div>
          <label class="radio-inline"><input class="radio" type="radio" ng-model="settings.settings.latToDirection" value="N"/>N</label>
          <label class="radio-inline"><input class="radio" type="radio" ng-model="settings.settings.latToDirection" value="S"/>S</label>
        </div>
        <input class="form-control" type="number" min="0" max="90" ng-model="settings.settings.latTo"/>
      </div>
      -->
    </form>
  </div>
</div>
<div class="modal-footer">
</div>
