<div class="row">
  <form class="form">
    <div class="form-group">
      <label>CPUE From</label>
      <input class="form-control" ui-date ng-model="settings.cpueFrom"/>
    </div>
    <div class="form-group">
      <label>CPUE To</label>
      <input class="form-control" ui-date ng-model="settings.cpueTo"/>
    </div>
    <div class="form-group">
      <label>CPUE File</label>
      <input type="file" id="fileInput"/>
    </div>
    <div class="form-group">
      <label>OPeNDAP Endpoint URL</label>
      <input class="form-control" ng-model="settings.opendapEndpoint"/>
    </div>
    <div class="form-group">
      <label>Latitude From</label>
      <input class="form-control" type="number" min="0" max="90" ng-model="settings.latFrom"/>
    </div>
    <div class="form-group">
      <label>Latitude To</label>
      <input class="form-control" type="number" min="0" max="90" ng-model="settings.latTo"/>
    </div>
    <div class="form-group">
      <label>Longitude From</label>
      <input class="form-control" type="number" min="0" max="360" ng-model="settings.lonFrom"/>
    </div>
    <div class="form-group">
      <label>Longitude To</label>
      <input class="form-control" type="number" min="0" max="360" ng-model="settings.lonTo"/>
    </div>
    <div class="form-group">
      <label>Depth Max</label>
      <input class="form-control" type="number" min="0" ng-model="settings.depthMax"/>
    </div>
    <div>
      <button class="btn btn-default" ng-click="settings.start()">Start</button>
    </div>
  </form>
</div>
